* {
    /* Remove defaults */
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 0;
    background: none;
    box-shadow: none;
    text-shadow: none;
    transition: none;

    /* Custom defaults */
    color: #e0def4;
    font-family: 'JetBrainsMonoNerdFont';
    font-size: 0.85rem;
}

.modules-left {
    margin: 4px 0 0 10px;
}

.modules-right {
    margin: 4px 10px 0 0;
    padding: 0 10px;
    background: #26233a;
    border-radius: 20px;
}

#workspaces {
    background: #26233a;
    border-radius: 20px;
}

#workspaces button {
    min-width: 24px;
    min-height: 24px;
}

#workspaces button:hover {
    background: #403d52;
    border-radius: 20px;
}

#workspaces button.active {
    background: #524f67;
    border-radius: 20px;
}

#workspaces button.urgent {
    background: #eb6f92;
    border-radius: 20px;
}

#workspaces button.urgent label {
    color: #575279;
}

#pulseaudio.sink {
    padding-right: 10px;
}

#pulseaudio.source {
    margin-right: 16px;
}
