@import "./themes/rose-pine-moon.css";

* {
    /* Any NerdFontPropo */
    font-family: 'UbuntuNerdFontPropo';
    font-size: 0.85rem;
    font-weight: 400;
}

window#waybar {
    background-color: transparent;
    color: @foreground;
}

.modules-left {
    margin-top: 4px;
    margin-left: 10px;
}

.modules-center {
    margin-top: 4px;
}

.modules-right {
    margin-top: 4px;
    margin-right: 10px;
}

#workspaces {
    background: @background;
    border-radius: 20px;
}

#workspaces button {
    padding: 0;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: @foreground;
    min-width: 30px;
    min-height: 30px;
    border-radius: 20px;
}

#workspaces button:hover {
    background: @highlightMed;
}

#workspaces button.active {
    background: @highlightHigh;
}

#workspaces button.urgent {
    background: @red;
}

#workspaces button.urgent label {
    color: @background;
}

#window,
#hardware,
#clock,
#pulseaudio {
    padding: 0 10px;
    background: @background;
    border-radius: 20px;
}

#memory {
    margin-right: 10px;
}
